[Unit]
Description=Move saved dmesg output to storage host
After=network-online.target save-dmesg.service
Wants=network-online.target
Requires=save-dmesg.service

[Service]
Type=oneshot
User={{ ansible_user_id }}

# Wait for the host to respond before starting
until getent hosts {{ storage_host }} >/dev/null 2>&1 && ping -c1 {{ storage_host }} >/dev/null 2>&1; do sleep 1; done
TimeoutStartSec=120

ExecStart=/usr/local/bin/mv-dmesg.sh /mnt/data/save {{ storage_host }}:/mnt/dmesg/IoT/%H

[Install]
WantedBy=multi-user.target