[Unit]
Description=Save dmesg output to writable storage
After=mnt-data.mount
Requires=mnt-data.mount
Before=umount.target

[Service]
Type=notify
NotifyAccess=all
User={{ target_user }}

ExecStart=/usr/local/bin/save-dmesg.sh /mnt/data
KillMode=control-group
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target