[Unit]
Description=Mount data partition
After=systemd-udev-settle.service

[Mount]
What=LABEL=data
Where=/mnt/data
Type=ext4
Options=defaults

[Install]
WantedBy=local-fs.target